graphviz==0.17
h5py==3.1.0
matplotlib==3.3.3
pandas-ta==0.3.14b
pydot==1.4.2
scikit-learn==1.0
seaborn==0.11.1
shap==0.40.0
nltk
statsmodels
ipykernel 
jupyterlab
plotly==5.18.0
pandas_market_calendars
QuantStats==0.0.62
pyfolio-reloaded==0.9.5
openpyxl